.profile{
  grid-area: content;
  background-color: rgb(223, 206, 127);
  padding: 10px;
}

.background{
  height: 200px;
  background-position: center;
  background-size: cover;
  background-image: url("https://thumb.tildacdn.com/tild6235-6466-4339-b065-343963343033/-/format/webp/shutterstock_1724594.jpg");
}

.background img{
  max-height: 100%;
}